<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cool Car Club</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/CSS" href="assets/CSS/index.css" />
  </head>

  <body>
    <%- include ('partials/header') %> <% if (user != null) { %> <%- include
    ('partials/myConnections_nav') %> <%} else { %> <%- include
    ('partials/user_nav') %> <% } %> <%-include ('partials/navigation') %>
    <div class="main_Content">
      <h2>Contact Us</h2>
      <h3 id="mainP">
        You can contact us at cltcars@gmail.com!
      </h3>
    </div>
    <%- include ('partials/footer') %>
  </body>
</html>
