<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cool Car Club</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/CSS"
      href="assets/CSS/myConnections.css"
    />
  </head>

  <body>
    <%- include ('partials/header') %> <% if (user != null) { %> <%- include
    ('partials/myConnections_nav') %> <%} else { %> <%- include
    ('partials/user_nav') %> <% } %> <%- include ('partials/navigation') %>

    <div class="main_Content">
      <h2 class="user_title">Norm's Connections</h2>

      <table class="tableinfo">
        <tr>
          <th>Connection</th>
          <th>Category</th>
          <th>RSVP</th>
          <th>Options</th>
        </tr>

        <% if (data.length === 0) { %>
        <tr>
          <td>No Connections!</td>
          <td>No Connections!</td>
          <td>No Connections!</td>
          <td>No Connections!</td>
        </tr>
        <% } else { %> <% for( let index = 0; index < data.length; index++ ) {
        %>

        <tr>
          <td><%= data[index].title %></td>
          <td><%= data[index].category %></td>
          <td><%= rsvp[index] %></td>
          <td>
            <div class="buttons">
              <a href="/connection/<%= data[index].ID %>" class="updateBTN"
                >Update</a
              >
              <form
                action="/connection/myConnections/<%= data[index].ID %>"
                method="POST"
              >
                <input type="submit" class="deleteBTN" value="Delete" />
                <input
                  type="hidden"
                  name="deleteID"
                  value="Delete"
                  class="deleteBTN"
                />
              </form>
            </div>
          </td>
        </tr>
        <% } %> <% } %>
      </table>
    </div>
    <div id="spacer"></div>
    <%- include ('partials/footer') %>
  </body>
</html>
